<% if flash[:alert] %>
  <div class="alert"><%= alert %></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="title">企業情報</div>
      <%= form_for @corp, url: {action: 'update'} do |f| %>
        <form class="form-horizontal">
          <div class="form-group">
            <%= f.label :name,"名称", {class: 'control-label'} %>
            <%= f.text_field :name, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :status_id,"選考状況", {class: 'control-label'} %>
            <%= f.collection_select :status_id, Status.all, :status_id, :status, {prompt: ""}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :about,"概要", {class: 'control-label'} %>
            <%= f.text_area :about, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :description,"詳細", {class: 'control-label'} %>
            <%= f.text_area :description, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :motivation,"志望動機", {class: 'control-label'} %>
            <%= f.text_area :motivation, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :url, "企業URL", {class: 'control-label'} %>
            <%= f.text_field :url, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :address,"所在地", {class: 'control-label'} %>
            <%= f.text_field :address, {class: 'form-control', id:'address'} %>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-1">
                <%= button_tag type: "submit",class: "bordernon" do %>
                  <i class="bi bi-save-fill"></i>
                <% end %>
              </div>
              <div class="col-1">
                <%= link_to  "/p_corps/#{@corp.p_corp_id}", method: :delete, data: { confirm: '本当に削除しますか？'} do %>
                  <i class="bi bi-trash2-fill"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
              
      
      <%= javascript_pack_tag 'map' %>
      <div id='map'></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>" async defer></script>
    </div>
    
    <div class="col-md-6">
      <%= render 'p_tasks/index', { url: p_tasks_index_path(@tasks) } %>
    </div>
  </div>
</div>




