<% if flash[:alert] %>
  <div class="alert"><%= alert %></div>
<% end %>
<div class="title">新規タスク</div>
<%= form_for @task, url: p_tasks_create_path do |f| %>
    <div class="form-group">
    <div class="col-6"> 
      <%= f.label :title, "タイトル", {class: 'control-label'} %>
      <%= f.text_field :title, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-6"> 
      <%= f.label :detail, "詳細", {class: 'control-label'} %>
      <%= f.text_field :detail, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-6"> 
      <%= f.label :deadline, "日程", {class: 'control-label'} %>
      <%= f.datetime_local_field :deadline, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-6">
      <%= f.label :p_corp_id, "企業名", {class: 'control-label'} %>
      <%= f.collection_select :p_corp_id, PCorp.all, :p_corp_id, :name, {prompt: " "}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-6"> 
      <%= f.label :address,"住所", {class: 'control-label'} %>
      <%= f.text_field :address, {class: 'form-control', id:'address'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-6"> 
      <%= f.label :url, "URL", {class: 'control-label'} %>
      <%= f.text_field :url, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-check">
    <div class="col"> 
      <%= f.label :isdone, "完了", {class: 'form-check-label'} %>
      <%= f.check_box :isdone, {class: 'form-check-input'} %>
    </div>
  </div>
  <%= button_tag type: "submit",class: "bordernon" do %>
    <i class="bi bi-save"></i>
  <% end %>
<% end %>